@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
  --color-theme: #f8546f;
  --color-black: #000;
  --color-golden: #ffe553;
  --color-grey: #9e9e96;
  --color-blue: #0baeff;
  --font-family: 'Ubuntu', sans-serif;
}

.theme {
  color: var(--color-theme)
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}